#header {
    height: 10%;
    position: relative;
    h1 {
        font-size: 22.2px;
        font-weight: bold;
        color: #000000;
    }
    #shadow-header {
        width: 100%;
        height: 31px;
        position: absolute;
        bottom: -31px;
        right: 0;
        z-index: 1;
        transform: rotate(-180deg);
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #f4f4f4);
    }
}
#main {
    height: 70%;
    overflow-y: scroll;
    .items {
        height: 130px;
        padding: 10px 0px 1px 0px;
        position: relative;
        .details {
            padding: 0 !important;
            h3 {
                font-size: 17.4px;
                font-weight: bold;
                text-align: center;
                color: #000000;
            }
            h5 {
                font-size: 19.3px;
                font-weight: bold;
                text-align: center;
                color: #000000;
            }
            .count {
                font-size: 28.1px;
                font-weight: bold;
                text-align: center;
                color: #000000;
            }
            .icons {
                margin-right: 5px;
                img {
                    width: 15px;
                    margin: 5px 0px;
                }
            }
            div {
                .price {
                    margin-left: 23px;
                    font-size: 22.8px;
                    font-weight: bold;
                    text-align: center;
                    color: #000000;
                }
            }
        }
        .under-line {
            position: absolute;
            width: 524px;
            height: 1px;
            border: solid 1.2px #c6c6c6;
            bottom: 0;
        }
    }
}
.toman {
    font-size: 14px;
}
#footer {
    height: 20%;
    position: relative;
    #shadow-footer {
        height: 41px;
        position: absolute;
        top: -39px;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #f4f4f4);
    }
    .footer-divs {
        height: 100%;
        padding: 20px;
    }
}
.bill-items {
    .bill-items-title {
        font-size: 16.4px;
        font-weight: bold;
        text-align: center;
        color: rgba(0, 0, 0, 0.71);
    }
    .bill-items-value {
        font-size: 21.1px;
        font-weight: bold;
        text-align: center;
        color: rgba(0, 0, 0, 0.71);
        .toman {
            font-size: 15.2px;
        }
    }
}
#bill-sum {
    font-size: 45.6px;
    font-weight: bold;
    text-align: center;
    margin-top: auto;
    color: #000000;
    .toman {
        font-size: 29.3px;
    }
}
#done {
    height: 67.9px;
    border-radius: 11.7px;
    background-color: #e67e22;
    font-size: 29.3px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
#off-border {
    width: 100%;
    height: 45.6px;
    border-radius: 22.8px;
    border: solid 1.2px #e67e22;
    margin-bottom: 10px;
    padding-right: 15px;
    position: relative;
}
#off {
    width: 80%;
    border: none;
    color: black;
    font-size: 21.1px;
    &:hover {
        outline: none;
    }
    &::placeholder {
        font-size: 21.1px;
        font-weight: bold;
        color: rgba(230, 126, 34, 0.71);
    }
}
#add-takhfif {
    width: 38.6px;
    height: 38.6px;
    border-radius: 50%;
    position: absolute;
    left: 3.2px;
    border-image-source: linear-gradient(to bottom, #f8c26e, #ffcd7e);
    background-color: #f39c12;
    img {
        width: 16.4px;
        height: 17.6px;
    }
    &:focus{
        outline: none;
    }
}
