@font-face {
    font-family: "Yekan";
    src: url("../Assets/font.woff") format('woff');
}
*{
    font-family: "Yekan";
}
body{
    padding: 15px;
    height: 100vh;
    direction: rtl;
    text-align: center;
}